name: trabalho
description: Projeto Flutter modular do 1ยบ bimestre
publish_to: 'none'
version: 1.0.0+1
environment:
  sdk: ">=3.0.0 <4.0.0"
  flutter: ">=3.10.0"
dependencies:
  flutter:
    sdk: flutter
  cupertino_icons: ^1.0.2
  intl: ^0.19.0
  shared_preferences: ^2.5.3
  sqflite: ^2.4.2
  fl_chart: ^0.66.0
  path: ^1.9.1
  sqflite_common_ffi: ^2.3.0
dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^2.0.0
flutter:
  uses-material-design: true
  assets:
    - img/logotipo.png
  

